:root {
	--switch-width: 37px;
	--switch-height: 19px;
	--switch-padding: 1px;
}

.switch {
	position: absolute;
	top: 50%;
	margin-top: -9.5px;
	right: 352px;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	width: var(--switch-width);
	height: var(--switch-height);
	@include radius(20px);
	padding: var(--switch-padding) 0;
	&__input,
	&__label {
		position: absolute;
		left: 0;
		top: 0;
	}
	&__input {
		visibility: hidden;
		&:checked + .switch__label {
			background-color: var(--color-switch-bg);
			&::before {
				content: "night";
			}
		}
		&:checked + .switch__label + .switch__marker {
			left: calc(100% - var(--switch-height) + var(--switch-padding));
		}
	}
	&__label {
		width: 100%;
		height: 100%;
		color: transparent;
		user-select: none;
		background-color: var(--color-switch-bg);
		@include radius(inherit);
		z-index: 1;
		@include transition(background 0.3s);
		cursor: pointer;
		&::before {
			content: "day";
			line-height: normal;
			position: absolute;
			top: 50%;
			left: 0;
			@include transform(translate(-116%, -50%));
			color: var(--color-header-font);
			text-transform: uppercase;
		}
	}
	&__marker {
		position: absolute;
		left: var(--switch-padding);
		background-color: var(--color-switch-bg-second);
		border: 1px solid var(--color-switch-border);
		width: calc(var(--switch-height) - var(--switch-padding) * 2);
		height: calc(var(--switch-height) - var(--switch-padding) * 2);
		z-index: 2;
		pointer-events: none;
		@include radius(50%);
		@include transition(left 0.3s);
		will-change: left;
	}
}

@media only screen and (max-width: 1400px) {
	.switch {
		right: 310px;
	}
}

@media only screen and (max-width: 1199.8px) {
	.switch {
		right: 252px;
	}
}

@media only screen and (max-width: 991.8px) {
	.switch {
		right: 48px;
	}
}
